
.title{
    display: flex;
    align-items: center;
    gap: 10px;;
}

.activities-list {
    margin: 50;
    align-items: center;
}

.title img {
    height: 35px;
    align-items: left;
}

.activities-title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #F8763D;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}

.activities-list-title h4 {
    color: white;
    align-items: left;
}

.activity-type p {
    color: white;
    align-items: right;
    font-size: 1em;
}

.activities-description {
    display: flex;
    min-height: 50px;
    background-color: rgb(205, 203, 203);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-indent: 20px;
    line-height: 2;
    
}
.activities-list-description {
    max-width: 100%;
    word-wrap: break-word;
    
}

.activities-list-form {
    margin-bottom: 20px;
}