.title{
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #F8763D;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}

.activities-list {
    margin: 50;
    align-items: center;
}

.title img {
    height: 36px;
    align-items: left;
}

.activities-title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #F8763D;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}

.activities-list-title {
    color: white;
    align-items: left;
}
.activities-list-title h4 {
    font-size: 18px;
    font-weight: 600;
}
.activities-list-title h3{
    padding-top: 5px;
    font-size: 16px;
}


.activity-type {
    color: white;
    align-items: right;
    font-size: 24px;
}

.activities-description {
    display: block;
    padding: 10px 0;
    min-height: 100%;
    max-width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 1.5;
}

.activities-description p {
    margin: 0;
    padding-left: 15px;
}

.activities-list-form {
    margin-bottom: 20px;
}

.activities-description .bx {
    font-size: 2rem;
    padding-right: 10px;
    color: black;
}

/* Footer*/
.activities-footer {
    color: black;
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 100%;
}

.activities-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 15px;
    padding-top: 5px;
}

.activities-footer li:first-child {
    margin-right: auto;
}

.activities-footer li+li {
    margin-left: .5rem;
}

.activities-footer li {
    color: black;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
  
    position: relative;
    white-space: nowrap;
}

.description-btn {
    margin-right: 1rem;
    color: black;
}

.activities-list-description {
    border-radius: 3px;
    padding: 0 0.5rem 0 1.5rem;
}

.noObject{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #F8763D;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.pagination{
    background-color: rgba(248, 118, 61, 1);
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
   
}
button:disabled.pagination{
    background-color: rgb(255, 207, 187);
}
