.profile{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 4em;
    align-items: center;
}

.profile h1{
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 30px;
}

.Name{
    font-weight: 700;
}

.profile img {
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
}
.profile p{
    margin: 0 1em;
    font-size: 1.5em;
    line-height: 40px;
}

.Result{
    font-weight: 700;
    color: #c90035;

}
