.DailyRecommend {
    border: 1px solid red;
    padding: 20px;
    flex-direction: column;
}

.DailyRecommend p {
    text-align: left;
}


.DailyRecommend-img {
    display: flex;
    justify-content: center;
    
}

.DailyRecommend-img img {
    display: inline-block;
    width: 100%;
    height: 100px;
}
