*{
  margin: 0;
  padding: 0;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  /* padding: 2rem; */
  
}
.main-web{
  background: linear-gradient(
      to right,
      #fff 0%,
      #fff 69%,
      rgba(255, 202, 178, 1) 0%,
      rgba(201,0,53,1)31%  
    );
  padding: 2rem;
}

.main-login{
  background-color: rgba(201,0,53,1);
  padding: 2rem;
  
}

